@using MyEndProjectCode.ViewModels

@model BlogVM
<section data-aos="fade-up" style="background-image: url(https://www.ncodetechnologies.com/zooy/images/background-bg-1600x156.jpg);" class="first-sec dealofday intro aos-init aos-animate">
    <div data-aos="fade-right" class="divday">
        <p class="p-intro">HOME<i class="bi bi-chevron-right"></i><span class="span-intro">BLOG</span></p>
        <h4 class="h4-intro">BLOG</h4>
    </div>
</section>


<section style="margin-bottom: 50px;" data-aos="fade-right" class="last-new">
    <div class="bs-text">
        <div><img src="~/assets//images//tit-deco (1).png" alt=""></div>
        <span class="punchline">
            @Model.Settings["BlogTitle"]
        </span>
        <h2 class="sec-title">@Model.Settings["Blog"]</h2>
    </div>
    <div class="p-categoryrow">

         <partial name="_BlogsPartial" model="@Model.PaginateBlog.Datas" />


      

    </div>

</section>



<nav data-aos="fade-right" style="display: flex; justify-content: center; margin-bottom: 20px;" aria-label="Page navigation example">
    <ul class="pagination">
        

      
        <div class="pagination-area">


            
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">


                    @for (int i = 1; i <= Model.PaginateBlog.TotalPage; i++)
                    {
                        <li class="page-item @*active*@ @(Model.PaginateBlog.CurrentPage == i ? "disabled" : "")">
                            <a class="page-link" asp-controller="Blog" asp-action="Index" asp-route-page="@i">@i</a>
                        </li>
                    }


                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">&raquo;</a>
                    </li>


                </ul>
            </nav>
        </div>
        

    </ul>
</nav>
