@using MyEndProjectCode.ViewModels


@model ShopVM



@{
    ViewData["Title"] = "Index";
    ////int sumProducts = 0;
    //int sumColor = 0;
}
<section data-aos="fade-up" style="background-image: url(https://www.ncodetechnologies.com/zooy/images/background-bg-1600x156.jpg);" class="dealofday intro aos-init aos-animate first-sec">
    <div data-aos="fade-right" class="divday">
        <p class="p-intro">HOME<i class="bi bi-chevron-right"></i><span class="span-intro">BLOG</span></p>
        <h4 class="h4-intro">SHOP</h4>
    </div>
</section>



<section>

    <section class="products no-select">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left-sidebar">

                        <div class="product-price">
                            <form id="filterForm" method="get" asp-controller="Shop" asp-action="Index">
                                <div class="price-title">
                                    <h3>Filter By Price</h3>
                                </div>
                                <div class="price-filter">
                                    <div class="card">
                                        <div class="price-content">
                                            <div>
                                                <label>Min</label>
                                                <p id="min-value">50</p>
                                            </div>

                                            <div>
                                                <label>Max</label>
                                                <p id="max-value">500</p>
                                            </div>


                                        </div>


                                        <div class="filter-button">
                                            <div class="range-slider">
                                                <input type="range" class="min-price" value="100" min="10" max="500"
                                                       step="10">
                                                <input type="range" class="max-price" value="250" min="10" max="500"
                                                       step="10">
                                            </div>
                                            <button class="filt" type="submit">Filter</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                        @* <div class="search">
                        <h4>Search</h4>
                        <div class="search-product">
                        <input type="search" name="" id="" placeholder="Search products"
                        class="search-product-input">
                        <img src="./search-product-icon.png" alt="" class="search-product-icon">
                        </div>
                        </div>*@
                        <div class="categories">
                            <h4>Product categories</h4>


                            <a href="#" class="allprod ">

                                <span class="words all">All</span> <span class="coun">(@Model.AllProducts.Count)</span>
                            </a>






                            @foreach (var item in Model.Categories)
                            {
                                <ul>


                                    <a href="" data-id="@item.Id" class="cate">
                                        <span class="words">@item.Name</span>   <span class="coun">(@item.ProductCategories.Count())</span>
                                    </a>


                                </ul>
                            }
                        </div>
                        <div class="categories brand ">
                            <h4>BY BRAND</h4>
                            @foreach (var item in Model.BrandPros)
                            {
                                <ul>
                                    <a href="" data-id="@item.Id" class="brandcl">
                                        <span class="words">@item.Name</span>  <span class="coun">(@item.ProductBrands.Count())</span>
                                    </a>
                                </ul>



                            }
                        </div>




                        <div class="tags">
                            <h4>BY TAGS</h4>
                            @foreach (var item in Model.Tags)
                            {



                                <li>
                                    <a href="#" data-id="@item.Id" class="tagn">
                                        <span class="words">TagCode :</span>  <span class="coun">@item.Year</span>
                                    </a>
                                </li>




                            }
                        </div>
                    </div>

                    <div class="banner-img img-full">
                        <a href="#"><img class="img-fluid mx-auto" src="~/assets/images/banner.jpg" alt=""></a>
                    </div>


                </div>


                <div class="col-lg-9 products-side">
                    <div class="row product-grid-view">



                        <partial name="_ProductsPartial" model="@Model.PaginateProduct.Datas" />




                    </div>
                    @*
                    <nav data-aos="fade-right" style="display: flex; justify-content: center; margin-bottom: 20px;" aria-label="Page navigation example">
                    <ul class="pagination">
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                    </li>

                    @for (int i = 1; i < Model.PaginateProduct.TotalPage; i++)
                    {
                    <li class="page-item active @(Model.PaginateProduct.CurrentPage == i ? "disabled" : "")">
                    <a class="page-link" asp-controller="Shop" asp-action="Index" asp-route-page="@i">@i</a></li>
                    }
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                    </li>
                    </ul>
                    </nav>*@


                    <div class="pagination-area">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">


                                @for (int i = 1; i <= Model.PaginateProduct.TotalPage; i++)
                                {
                                    <li class="page-item @*active*@ @(Model.PaginateProduct.CurrentPage == i ? "disabled" : "")">
                                        <a class="page-link" asp-controller="Shop" asp-action="Index" asp-route-page="@i">@i</a>
                                    </li>
                                }


                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">&raquo;</a>
                                </li>


                            </ul>
                        </nav>
                    </div>
                </div>


               @* <div class="product-price">
                    <div class="price-title">
                        <h3>Filter By Price</h3>
                    </div>
                    <div class="price-filter">
                        <div class="card">
                            <div class="price-content">
                                <div>
                                    <label>Min</label>
                                    <p id="min-value">50</p>
                                </div>

                                <div>
                                    <label>Max</label>
                                    <p id="max-value">500</p>
                                </div>
                            </div>

                            <div class="range-slider">
                                <input type="range" class="min-price" value="100" min="10" max="500"
                                       step="10">
                                <input type="range" class="max-price" value="250" min="10" max="500"
                                       step="10">
                            </div>
                        </div>



                    </div>
                </div>*@










            </div>
    </section>


</section>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>

<script type="text/javascript" src="js/slick.min.js"></script>
<script src="js/main.js"></script>

<script src="~/assets/js/script.js"></script>



