@using MyEndProjectCode.ViewModels


@model ShopVM
<section data-aos="fade-up" style="background-image: url(https://www.ncodetechnologies.com/zooy/images/background-bg-1600x156.jpg);" class="dealofday intro aos-init aos-animate first-sec">
    <div data-aos="fade-right" class="divday">
        <p class="p-intro">HOME<i class="bi bi-chevron-right"></i><span class="span-intro">BLOG</span></p>
        <h4 class="h4-intro">SHOP</h4>
    </div>
</section>



<section>

    <section class="products no-select">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left-sidebar">
                        <div class="search">
                            <h4>Search</h4>
                            <div class="search-product">
                                <input type="search" name="" id="" placeholder="Search products"
                                       class="search-product-input">
                                <img src="./search-product-icon.png" alt="" class="search-product-icon">
                            </div>
                        </div>
                        <div class="categories">
                            <h4>Product categories</h4>
                            @foreach (var item in Model.Categories)
                            {
                                <ul>

                                    <li>@item.Name (62)</li>

                                </ul>
                            }
                        </div>
                        <div class="categories brand">
                            <h4>BY BRAND</h4>
                            @foreach (var item in Model.BrandPros)
                            {
                                <ul>

                                    <li>@item.Name</li>

                                </ul>

                            }
                        </div>

                        <div class="tags">
                            <h4>BY TAGS</h4>
                          @foreach (var item in Model.Tags)
                          {
                                <ul>
                                <a href="#">@item.Year</a>
                                
                            </ul>
                          }
                        </div>
                    </div>

                    <div class="banner-img img-full">
                        <a href="#"><img class="img-fluid mx-auto" src="~/assets/images/banner.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9 products-side">
                    <div class="row">
                        @foreach (var item in Model.Products)
                        {
                            <div class="col-lg-4 col-md-6 pb-5">
                                <div class="productt" id="1">
                                    <div class="product-image">
                                        <img src="~/assets/images/@item.ProductImages.FirstOrDefault().Image" alt="">
                                        <div class="basket-wishlist-compare d-flex justify-content-center">
                                            <div class="add-basket text-center">
                                                <i class="fas fa-shopping-basket"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-inf">
                                        <h5> <a class="productt-name" href="./product-single.html">@item.Name</a> </h5>
                                        <p><span>$</span><span class="price">@item.Price</span></p>
                                    </div>
                                </div>
                            </div>

                        }
                        <nav data-aos="fade-right" style="display: flex; justify-content: center; margin-bottom: 20px;" aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
    </section>

    </main>
</section>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script src="js/main.js"></script>

</html>