@using MyEndProjectCode.ViewModels

@model AboutVM
<section data-aos="fade-up" style="background-image: url(https://www.ncodetechnologies.com/zooy/images/background-bg-1600x156.jpg);" class="first-sec dealofday intro aos-init aos-animate">
  <div data-aos="fade-right" class="divday">
    <p class="p-intro">HOME<i class="bi bi-chevron-right"></i><span class="span-intro">ABOUT</span></p>
    <h4 class="h4-intro">ABOUT US</h4>
  </div>
</section>

<section data-aos="fade-in" class="welcome">
   @foreach (var item in Model.Historys)
   {
        <div data-aos="fade-right" class="welcome-div">
        @Html.Raw(@item.Title)
        <p class="welcome-p1">@item.Name</p>
        <p class="welcome-p2">@item.Description</p>
        <div class="welcome-div2">
            <div><img src="~/assets/images/@item.Image" alt=""></div>
            <div class="welcome-info2">
                <p class="ceo">@item.Author</p>
                <p class="ceo-name">@item.AuthorName</p>
               
            </div>
        </div>
    </div>
       
   }
</section>



<section  class="our-history">

    @foreach (var item in Model.Abouts)
    {
          <div class="our-history-div">
        <div data-aos="fade-in"><img class="welcome-img" src="~/assets/images/@item.FirstImage" alt=""></div>
        <div data-aos="fade-in">
            <p class="our-p1">@item.Title</p>
            <h2 class="our-h2">@item.AboutTitle</h2>
            <p class="our-p">@item.Description</p>
            <button class="our-btn">Shop Now</button>
        </div>
    </div>
        
    }
  
</section>





<section data-aos="zoom-in">
  
  <div class="testimonial-reel">

  @foreach (var item in Model.Teams)
  {
      
    <div>

        <div class="box">

           
            <figure class="image">
                <img class="img-fluid rounded-circle" src="~/assets/images/@item.Image">
            </figure>
          

            <div class="test-component">
              
                <article class="test-title">

                    <h4>
                     @item.Name
                    </h4>

                </article>
              

                <article class="test-content">
                    <p>
                     @item.Description
                    </p>
                </article>

            </div>

        </div>

    </div>
  }
 
  

</div>

</section>

<section data-aos="fade-up" class="helplinesec helplineabout">
  <div class="helpline">
    <div class="helpline-div">
      <div class="icon-help"><i class="bi bi-truck icon-last icon-last1"></i></div>
      <div class="icon-text">
        <h3 class="last-h3">Free Delivery</h3>
        <p class="last-p">Worldwide from $75</p>
      </div>
    </div>
    <div class="helpline-div">
      <div class="icon-help"><i class="bi bi-arrow-clockwise icon-last icon-last1"></i></div>
      <div class="icon-text">
        <h3 class="last-h3">EASY RETURNS</h3>
        <p>365 days for free</p>
      </div>
    </div>
    <div class="helpline-div">
      <div class="icon-help"><i class="bi bi-wallet2 icon-last icon-last1"></i></div>
      <div class="icon-text">
        <h3 class="last-h3">COMFORT PAYMENTS</h3>
        <p class="last-p">Credit Cards Available</p>
      </div>
    </div>
    <div class="helpline-div sondiv">
      <div class="icon-help"><i class="bi bi-gift icon-last icon-last1"></i></div>
      <div class="icon-text">
        <h3 class="last-h3">FREE GIFTS</h3>
        <p class="last-p">Get gifts and discounts</p>
      </div>
    </div>
  </div>
</section>

